<h1>Forgot your password ? </h1>
Your login instructions can be sent to you!

<%= form_for(:session, :url => send_password_request_sessions_path) do |f| %>
  <div class="field">
    Enter your <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <div class="actions">
    <%= f.submit "Send instructions" %>
  </div>
<% end %>
