<p> <%= @user.name %> </p>

<p>Password Request</p>

<p>Your email is                : <%= @user.email %></p>
<p>Your new activation token is : <%= @user.activation_token.token %></p>


This token will expire after it's first use.


<p><%= link_to "Sign in with token now!", url_for( :action => 'token', :controller => 'sessions', :host => 'localhost:3000' ) %></p>